@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.container{
  margin-top: 2em;
}

.nav-container{
  display: flex;
  justify-content: space-between;
}

.nav{
  flex: 0 0 80%;
}

form{
  display: flex;
  justify-content: space-between;

}

.search{
  height: 38px;
  margin-left: 1em;
}

h6{
  font-style: italic;
  color:lightslategray;
}

h5{
  margin-top: 2em;
}

.time{
  font-size: .8em;
}

/* img{
  width: 20em;
  height: 20em;
} */